{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Your api list
            </h1>
            <div>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    API1
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                                </a>
                            </header>
                            <footer class="card-footer">
                                <a href="{{ path('doc', {'appName': 'api1'}) }}" class="card-footer-item">Open</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    API2
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                                </a>
                            </header>
                            <footer class="card-footer">
                                <a href="{{ path('doc', {'appName': 'api2'}) }}" class="card-footer-item">Open</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column">
                        Third column
                    </div>
                    <div class="column">
                        Fourth column
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
